body{
    font-family: sans-serif;
}
td{
    text-align: center;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}
.col_num, .row_num{ /*Номера колонок и строк*/
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.empty, .red, .green, .wall{ /*Общий стиль всех ячеек*/
    border-width: 1px;
    border-style: solid;
    border-radius: 0.2em;
    position: absolute;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}
.empty{ /*Ячейка без плитки*/
    background-color: #ffffff;
    border-color: #c0c0c0;
}
.red{ /*Ячейка с красной плиткой*/
    background-color: #ff6060;
    border-color: #909090;
}
.green{ /*Ячейка с зелёной плиткой*/
    background-color: #60ff60;
    border-color: #909090;
}
.wall{ /*Стена*/
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}
#field_container{ /*Контейнер для поля*/
    margin: 5px;
    position: relative;
}
#source_code{ /*Текстовое поле с кодом*/
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    margin: 1px;
    padding: 5px;
    font-size: 1.0em;
    text-align: left;
    font-family: monospace;
    position: relative;
}
#doc_window{
    background-color: #ffffd0;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    position: relative;
    text-align: left;
}
.message{ /*Сообщение робота*/
    border-width: 1px;
    border-style: solid;
    border-radius: 0.2em;
    position: absolute;
    text-align: left;
    background-color: #ffff55;
    border-color: #a0a0a0;
}
.footer{
    font-size: 0.9em;
}